<div id="button-div" class="button-div">
    <div v-if="uiObj.type !== 'error'">
        <div v-if="uiObj.type === 'jump'" class="jump">
            <button class="jump">
                <img
                        alt="jump"
                        class="jump"
                        v-bind:src="imgJump"
                        v-on:click="jumpButtonClick"
                />
            </button>
        </div>
        <div v-if="uiObj.type === 'download'" class="download">
            <button class="start">
                <img
                        alt="start"
                        class="start"
                        v-bind:src="imgStart"
                        v-on:click="startButtonClick"
                />
            </button>
            <button v-if="isSettingSeen" class="setting">
                <img
                        alt="setting"
                        class="setting"
                        v-bind:src="imgSetting"
                        v-on:click="settingButtonClick"
                />
            </button>
        </div>
    </div>
</div>
