.section {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 32% 32% 32%;
}
.section > h2:first-child {
  grid-column-end: span 3;
  text-align: center;
}
.section > .chapter {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 23px;
  padding-right: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
.section a.disabled {
  pointer-events: none;
  cursor: default;
}
.section a {
  text-decoration: none;
}
div.chapter.good {
  background: #41b883;
}
div.chapter.bad {
  background: #ff9900;
}
div.chapter.bad a,
div.chapter.good a {
  color: white;
}
div.chapter-list-loading {
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}
div.chapter-list {
  max-height: 320px;
  overflow-y: scroll;
}
