.filter-setting {
  padding-top: 0.4em;
  padding-bottom: 0.8em;
  text-align: center;
}
.filter-input + .filter-setter {
  margin-top: 1em;
}
.filter-description {
  font-size: larger;
  color: cornflowerblue;
}
