<div>
  <div v-if="ntProgressSeen" id="nd-progress">
    <div
      v-if="chapterProgressSeen"
      id="chapter-progress-wrapper"
    >
      <div class="nd-progress-text-container">
        <span id="chapter-count">下载进度：{{ finishedChapterNumber }} / {{ totalChapterNumber }}</span>
        <span v-if="etaText" id="chapter-eta">{{ etaText }}</span>
      </div>
      <div id="chapter-progress-inner">
        <div
          class="nd-progress-bar"
          v-bind:style="{'--progress': chapterPercent+'%'}"
          v-bind:title="chapterProgressTitle"
        ></div>
        <span id="chapter-percent-text">{{ Math.floor(chapterPercent) }}%</span>
      </div>
    </div>
  </div>
</div>
