<div>
  <dialog-ui
    dialog-title="设置"
    v-bind:status="openStatus"
    v-on:dialogclose="closeSetting"
    v-if="openStatus === 'true'"
  >
    <div class="nd-setting">
      <div class="nd-setting-tab">
        <button
          v-bind:class="['tab-button', { active: currentTab === 'tab-1'}]"
          v-on:click="currentTab = 'tab-1'"
        >
          基本设置
        </button>
        <button
          v-bind:class="['tab-button', { active: currentTab === 'tab-2'}]"
          v-on:click="currentTab = 'tab-2'"
        >
          自定义筛选条件
        </button>
        <button
          v-if="setting.enableTestPage"
          v-bind:class="['tab-button', { active: currentTab === 'tab-3'}]"
          v-on:click="currentTab = 'tab-3'"
        >
          抓取测试
        </button>
        <button
          v-if="setting.enableTestPage"
          v-bind:class="['tab-button', { active: currentTab === 'tab-4'}]"
          v-on:click="currentTab = 'tab-4'"
        >
          日志
        </button>
      </div>
      <div class="nd-setting-body">
        <div
          id="nd-setting-tab-1"
          class="tab-page"
          v-show="currentTab === 'tab-1'"
        >
          <div>
            <input type="checkbox" id="debug" v-model="setting.enableDebug" />
            <label for="debug">启用调式模式。（输出更详细日志）</label>
            <input
              type="checkbox"
              id="test-page"
              v-model="setting.enableTestPage"
            />
            <label for="test-page">启用测试视图</label>
          </div>
          <hr class="hr-twill-colorful" />
          <div>
            <h3>自定义保存参数</h3>
            <ul>
              <li v-for="item of saveOptions">
                <input
                  type="radio"
                  v-bind:id="item.key"
                  v-bind:value="item.key"
                  v-model="setting.chooseSaveOption"
                />
                <label v-bind:for="item.key">{{ item.value }}</label>
              </li>
            </ul>
          </div>
        </div>
        <div
          id="nd-setting-tab-2"
          class="tab-page"
          v-show="currentTab === 'tab-2'"
        >
          <filter-tab v-on:filterupdate="saveFilter" />
        </div>
        <div
          v-if="setting.enableTestPage"
          id="nd-setting-tab-3"
          class="tab-page"
          v-show="currentTab === 'tab-3'"
        >
          <test-ui></test-ui>
        </div>
        <div
          v-if="setting.enableTestPage"
          id="nd-setting-tab-4"
          class="tab-page"
          v-show="currentTab === 'tab-4'"
        >
          <log-ui></log-ui>
        </div>
      </div>
      <div class="nd-setting-footer">
        <button v-on:click="closeAndSaveSetting">Save</button>
        <button v-on:click="closeSetting">Cancel</button>
      </div>
    </div>
  </dialog-ui>
</div>
