<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="same-origin" />
    <meta
      name="generator"
      content="https://github.com/yingziwu/novel-downloader"
    />
    <meta name="source" content="{{ chapterUrl }}" />
    <link href="style.css" type="text/css" rel="stylesheet" />
    <title>{{ chapterName }}</title>
  </head>
  <body>
    <div class="main">
      <h2>{{ chapterName }}</h2>
      {{ outerHTML }}
    </div>
  </body>
</html>
