doctype xml
doctype html

html(xmlns="http://www.w3.org/1999/xhtml", xmlns:epub="http://www.idpf.org/2007/ops")
  head
    mete(name="generator", content="https://github.com/404-novel-project/novel-downloader")
    link(href="../Styles/style.css", rel="stylesheet", type="text/css")
  body 
