doctype xml
doctype html

html(
  xmlns="http://www.w3.org/1999/xhtml",
  xmlns:epub="http://www.idpf.org/2007/ops",
  lang="en",
  xml:lang="en"
)
  head
    title ePub NAV
    meta(charset="utf-8")
    link(href="../Styles/sgc-nav.css", rel="stylesheet", type="text/css")
  body(epub:type="frontmatter")
    nav#toc(epub:type="toc", role="doc-toc")
    nav#landmarks(epub:type="landmarks", hidden="")
